<!-- 
// Name: Daniel Hanna 
// Course: CSC 415 
// Semester: Fall 2018
// Instructor: Dr. Pulimood 
// Project name: Brain Wave 
// Description: Application to aid students with educational inequality
// Filename: explore.html.erb
// Description: format/styling for the "Explore" page of the website
-->

<!DOCTYPE html>
<html>

<body>	
 	<a href="/pages/welcome"><img src="https://image.ibb.co/ccBNDA/testing.jpg" alt="Potential Brain Wave logo" border="0">		
 	<a href="/pages/welcome">Home</a>&nbsp;&nbsp;
	<a href="/pages/explore">Explore</a>&nbsp;&nbsp;
	<a href="/pages/help">Help</a>&nbsp;&nbsp;
	<h1>Explore</h1>
	<p>Check out our catalog of guides & tips below!</p>
	<p>(Articles, guides, etc would be populated here)
</body>
</html>