<!DOCTYPE html>
<html>

<body>	
 	<a href="/pages/welcome">Home</a>&nbsp;&nbsp;
	<a href="/pages/explore">Explore</a>&nbsp;&nbsp;
	<a href="/pages/help">Help</a>&nbsp;&nbsp;
	<h1>Explore</h1>
	<p>Check out our catalog of guides & tips below!</p>
	<p>(Articles, guides, etc would be populated here)
</body>
</html>