<!DOCTYPE html>
<html>

<body>
<!-- 	<img src="https://image.ibb.co/dX0fD0/testing.jpg" alt="testing" border="0"><br>
 -->	
 	<a href="/pages/welcome">Home</a>&nbsp;&nbsp;
	<a href="/pages/explore">Explore</a>&nbsp;&nbsp;
	<a href="/pages/help">Help</a>&nbsp;&nbsp;
	<h1>Welcome to Brain Wave</h1>
	<p>Brain Wave is a hub of various supplemental academic resources for all sorts of students. If you need help with something school related, check out the <a href="/pages/explore">Explore</a> section. If you're not sure where to start, click on <a href="/pages/help">Help</a> section, and fill out the questions!</p>
</body>
</html>