<!-- This file was NOT auto generated -->

<!-- App logo -->
<a href="/welcome/index">
<img src="https://image.ibb.co/ccBNDA/testing.jpg" alt="Potential Brain Wave logo" border="0">
</a>

<!-- Create an Article header -->
<h1>Create An Article</h1>
<!-- Creating an article will render the form and link to go back -->
<%= render 'form' %>
<%= link_to 'Back', articles_path %>